<h1>Students</h1>

<div id="top-actions">
	<%= link_to "View as list", student_list_path %> | 
	<%= link_to "Add Student", new_student_path %>
</div>

<div class="span12">
<%= render  @students %>
</div>

<div id="bottom-actions">
	<%= link_to 'New Student', new_student_path %>
</div>