
#content h1 {
	color: #08386f;
	font-size: 2em;
	border-bottom: thin solid;
	margin-bottom: 4px;
	padding: 0px;
	}
#content ul{margin: 0px}
#content li{margin-left: 20px}

#header h2, #header h2 { color: #fff; margin-bottom:20px; width:100%;  height:50px; width:100%; float:left; text-indent: 0px; text-align: right;}
#header h2, #header h2 a, #header a, #header a:visited { color: #fff; display: inline;   height:50px; width:100%; text-indent: 0px; text-align: right;}

div#top-menu{float:right;}

div#top-menu > ul{}
div#top-menu > ul li {display: inline; margin-right:10px;}

table{
	margin:5px 0px 10px 0px; padding:0px;
	border-spacing:0px; border:thin solid #ccc; border-radius: 4px;
	}
tr{}
tr.dark{background-color: #f2f2f2}
th, td{padding:4px ;}
th{background-color:#000066;text-align: left; color:#f2f2f2;}
td{padding:6px;}

tr.dark{background-color: #f2f2f2}
div.field{float:left; width:100%;}

#new-team-form{}
div.embedded-form form{float:left;background-color: #f2f2f2; padding:6px; border-radius:6px;}
div.embedded-form{float:left; width:98%; margin-left:2%;}

form div.actions{margin-left:135px;}
form div.form-section{margin-bottom:40px; float:left; width:100%;}

label{display:inline; min-width:125px; text-align:right; float:left; margin-right:10px; padding-top:5px;}
div.indent{margin-left:135px;}
label.no-indent{min-width:0px; margin-left:10px;}
input, select {float:left;}

input{border-radius:4px; padding:2px;}
select{border-radius:4px; padding:2px;}

ul.light-block{}
ul.light-block li{margin:5px 0px 20px 30px; padding:10px; border-bottom:thin solid #f2f2f2; list-style-type: none}


div.nav-actions{text-align:right; width:100%;}
div.form-actions{float:left; text-align:right; margin-left:135px; margin-bottom: 10px}
div#top-actions{float:left; text-align:right; width:100%; margin-bottom: 20px}
div#bottom-actions{float:left; width: 100%; text-align: center}


 
div.note-list{float:left; margin-left:10px;}
div.note-list p{border-left:3px solid #f2f2f2; padding:6px;}
